<nav class="sidebar">
        <li class="home-item">
            <div class="image-container">
                <img src="/assets/img/logo-removebg-preview.png" alt="Logo">
            </div>
        </li>
        <h2>Menu</h2>
        <ul class="menu">
        <li>
            <details>
                <summary>Login</summary>
                <a routerLink="/login" class="menu-item">Fazer Login</a>
            </details>
        </li>

        <li>
            <details>
                <summary>Produtos</summary>
                <a routerLink="/catalogo" class="menu-item">Ver todos</a>
                <a routerLink ='/cad-produto' >Cadastrar Produtos</a>
                <a href="/mov-produto" class="menu-item">Movimentar Produtos</a>
            </details>
        </li>

        <li>
            <details>
                <summary>Administração</summary>
                <a href="/cad-usuario" class="menu-item">Cadastrar Usuario</a>
            </details>
        </li>
        
    </ul>
    </nav>
    
